:root {
  font: size 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  --main-bg: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%); /*claim button*/
  --accent: hsl(248, 32%, 49%);
  --DarkBlue: hsl(249, 10%, 26%); /*top button*/
  --GrayBlue: hsl(246, 25%, 77%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: url(images/bg-intro-mobile.png) no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background-color: var(--main-bg);
  color: white;
}

.main_wrapper {
  min-width: 375px;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.description {
  min-width: 20rem;
  max-width: 25rem;
  height: 10rem;
  margin: 2rem;
  margin-bottom: 110px;
  position: relative;
}

.description_title {
  white-space: pre-line;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-top: 5rem;
}

.description_info {
  padding: 0;
  font-weight: 400;
}

.form_wrapper {
  min-width: 40rem;
  max-width: 64rem;
  max-height: 69rem;
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top_button {
  width: 100%;
  margin-top: 50px;
  padding: 20px;
  background-color: var(--accent);
  color: white;
  position: relative;
  border: 0;
  border-radius: 5px;
  box-shadow: 4px 7px 4px 4px hsla(5, 10%, 0%, 0.2);
  cursor: pointer;
}

.top_button > span {
  font-weight: 600;
  padding: 0 3 rem;
}

form {
  width: 100%;
  min-height: 30rem;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 0;
  margin-top: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0px 7px 2px 0px hsla(5, 10%, 0%, 0.2);
}

input {
  width: 90%;
  min-height: 3rem;
  color: var(--GrayBlue);
  font-weight: 600;
  margin-top: 1rem;
  border: 2px solid var(--GrayBlue);
  border-radius: 5px;
}

#firstName.empty {
  background: url(images/icon-error.svg) no-repeat;
  background-position: 95%;
  border-color: var(--main-bg);
}

#lastName.empty {
  background: url(images/icon-error.svg) no-repeat;
  background-position: 95%;
  border-color: var(--main-bg);
}

#email.empty {
  background: url(images/icon-error.svg) no-repeat;
  background-position: 95%;
  border-color: var(--main-bg);
  color: var(--main-bg);
}

#password.empty {
  background: url(images/icon-error.svg) no-repeat;
  background-position: 95%;
  border-color: var(--main-bg);
}

.wrong_input {
  display: flex;
  text-align: flex-end;
  margin-left: 25rem;
  max-width: 20rem;
  color: var(--main-bg);
  font-size: 0.7rem;
  opacity: 0;
  transition: 0.7s;
}

.wrong_input1.active {
  display: block;
  opacity: 1;
}

.wrong_input2.active {
  display: block;
  opacity: 1;
}

.wrong_input3.active {
  display: block;
  opacity: 1;
}

.wrong_input4.active {
  display: block;
  opacity: 1;
}

.form_button {
  width: 90%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  background-color: var(--green);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0px px 0px 0px hsla(5, 10%, 0%, 0.2);
  transition: 0.5s;
}

.form_button:hover {
  opacity: 0.5;
}

.form_info {
  color: var(--GrayBlue);
  font-size: 10px;
}

.form_info > span {
  color: var(--main-bg);
}

@media screen and (min-width: 720px) {
  body {
    background-image: url(images/bg-intro-desktop.png);
    background-repeat: repeat;
    background-size: auto 50rem;
    overflow: hidden;
  }

  .main_wrapper {
    flex-direction: row;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .description {
    min-width: 20rem;
    max-width: 30rem;
    margin: 0;
    top: -100px;
    left: -50px;
    padding: 20px;
  }

  .top_button {
    top: -50px;
    left: 40px;
    margin: 30px;
    min-width: 30rem;
    max-width: 50rem;
  }

  form {
    min-width: 30rem;
    max-width: 50rem;
    top: -100px;
    left: 40px;
  }

  input {
    min-width: 80%;
    max-width: 90%;
  }

  .form_button {
    min-width: 80%;
    max-width: 90%;
  }
}
